player-connection-mode=Listen
player-connection-guid=1554933551
player-connection-debug=0
player-connection-project-name=NewGTA
player-connection-ip=192.168.0.107
player-connection-ip=26.12.155.80
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f4aa3fc7860b41e2b0c2da4d47017fca
